<article>
	<h2>前言</h2>
	<h3>什么是 component</h3>
	<p>
		一个封装好的可以重复使用的功能单元.一个形象的比喻就是七巧板里面的每一块都是一个组件，每个组件都可以重复使用，通过调节 板的摆放方式(组件属性) 以及 与其他板的组合方式(父子组件的联动) 来实现不同的拼装样式(组件功能).
	</p>
	<h3>解决了什么样的问题</h3>
	<p>
		在实际生产工作中，会经常遇到需要展示多个 item 的情况，比如 TMIST 项目中的医院列表、APM 项目中的
		区域展示列表。在这样的情况下，我们如果使用一个个书写的方式把他们穷举出来，那需要写的就太多了，根据OAOO(一次且仅一次)的编程原则，我们需要一个这样的解决办法，写一次，来展现医院列表，如果我们提供的灵活性足够，我们可以达到写一次列表组件，展示一类事物的列表。
		在 emberjs 中这样的解决思路就是使用 component 。
	</p>
</article>