@import "ember-bootstrap/bootstrap";

html,
body {
	height: 100%;

	&>:global(.ember-view) {
		height: 100%;
	}
}

.container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;

	header {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50px;
		-ms-flex: 0 0 50px;
		flex: 0 0 50px;
		background-color: #222;
		color: rgb(127, 127, 127);

		h1 {
			margin: 0;

			&:after {
				border: 0;
			}
		}
	}

	.content {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		aside {
			flex: 0 0 240px;
			background-color: #EAEAEA;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					height: 60px;
					line-height: 60px;
					font-size: 16px;
					cursor: pointer;

					&:global(.active-li) {
						color: red;
						background-color: #6c757d;

					}

					&:global(.active) {
						color: black;
						background-color: #6c757d;
					}

					&:hover {
						background-color: rgb(191, 232, 167);
					}

					&.child-link {
						height: 40px;
						line-height: 40px;
						padding-left: 40px;

						&:global(.inside-active) {
							color: black;
							background-color: #b2b5b7;
						}
					}
				}
			}
		}

		.main-content {
			flex: 1;
			padding: 20px;
			overflow: auto;
		}

	}
}
