<h1>how to Generate a component</h1>
<section local-class="ershoufang-list-container">
    <ul>
        {{#each model as |item|}}
            {{lj-ershoufang data=item}}
        {{/each}}
    </ul>
</section>