<h3>
	石器时代的用法
</h3>
<p>
	在很久以前，大概是 Emberjs 版本在 1 打头的时候，一直使用这 `sendAction` 这个方法来传递 action 进行冒泡。但是由于在某一版本
</p>
<h4>例子</h4>
{{play-btn onClick=(action 'playPause')}}
{{play-btn-father clickInFather=(action 'nestPlay')}}