<h2>创建一个 emberjs 的 component</h2>
<p>使用命令行到项目文件夹下，使用:</p>
<pre>
	<code class="prism language-terminal">ember g component component-guide</code>
</pre>
<p>在项目文件 app/modules 文件夹下(使用了Pods目录)，就可以看到此组件文件夹：</p>