<h3><a id="_21"></a>组件的数据传递</h3>
<p>在一个简单的组件中：</p>
<pre><code class="prism language-handlebars">	<span class="token comment">{{!-- component-train-passing-properties/template.hbs --}}</span>
	<span class="token punctuation">&lt;</span><span class="token variable">h2</span><span class="token punctuation">&gt;</span><span class="token punctuation">{</span><span class="token punctuation">{</span><span class="token variable">title</span><span class="token punctuation">}</span><span class="token punctuation">}</span><span class="token punctuation">&lt;</span><span class="token punctuation">/</span><span class="token variable">h2</span><span class="token punctuation">&gt;</span>
</code></pre>
<p>我们可以在 <code>component.js</code> 中为 <code>title</code> 变量赋值，在 handlebars 文件中将会展示出来:</p>
<pre><code class="prism language-javascript">	<span class="token comment">//	component-train-passing-properties/component.js</span>
	<span class="token comment">//	...</span>
	<span class="token keyword">this</span><span class="token punctuation">.</span><span class="token keyword">set</span><span class="token punctuation">(</span><span class="token string">'title'</span><span class="token punctuation">,</span><span class="token string">'welcome to use emberjs'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
</code></pre>
<p>而在调用组件页面我们将会看到这句话。</p>
<p><img src="https://img-blog.csdnimg.cn/201811222003356.png" alt="passing-properties"><br>
	但是在实际项目中，我们基本上都是从后端接受数据再通过路由中的handlebars 文件调用组件，将数据传递进去，再进行相应的展示：</p>
<pre><code class="prism language-handlebars">	<span class="token comment">{{!-- train/template.hbs --}}</span>
	<span class="token punctuation">{</span><span class="token punctuation">{</span><span class="token variable">component-train-passing-properties</span> <span class="token variable">title</span><span class="token punctuation">=</span><span class="token string">"Welcome to use component!"</span><span class="token punctuation">}</span><span class="token punctuation">}</span>
</code></pre>
<p>这个时候，在组件的调用页面，我们就可以看到</p>
<p>
	<img src="https://img-blog.csdnimg.cn/20181122200743478.png" alt="usecomponent"><br>
	展示在我们面前了。
</p>