{{!-- {{outlet}} --}}
<p>任何框架的组件都有其生命周期，而每个框架提供的生命周期钩子不尽相同，但是设计思路是相似的：<br>
	<img src="https://img-blog.csdnimg.cn/20181123143649844.jpg?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3BlbmdfOQ==,size_16,color_FFFFFF,t_70"
	 alt="life cycle"><br>
	这个部分官方文档提供了一些具体钩子的具体使用范例：<a href="https://guides.emberjs.com/release/components/the-component-lifecycle/">点击查看</a>。
</p>