<header>
	<h1>component train</h1>
</header>
<section local-class="train-container">
	<section local-class="section-left">
		<ul>
			{{#each model.navigations as |item|}}
				<li>
					{{#link-to item.route}}
						{{item.name}}
					{{/link-to}}
				</li>
			{{/each}}
		</ul>
	</section>
	<section local-class="section-right">
		<div local-class="section-inside">
			{{outlet}}
		</div>
	</section>
</section>